body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 12px;
}

.card h5 {
    font-weight: 600;
}


.chart-container {
    width: 300px;     
    height: 300px;
    margin: 0 auto;  
}
