{% extends 'base.html' %}
{% block content %}

<h3>Mark Attendance</h3>

<form method="POST">
    {% csrf_token %}
    <select name="employee" class="form-control mb-2">
        {% for emp in employees %}
        <option value="{{ emp.id }}">{{ emp.full_name }}</option>
        {% endfor %}
    </select>

    <input type="date" name="date" class="form-control mb-2" required>

    <select name="status" class="form-control mb-2">
        <option>Present</option>
        <option>Absent</option>
    </select>

    <button class="btn btn-success">Save Attendance</button>
</form>

{% endblock %}
